:root {
  /* 
  Informações da paleta de cores utilizas no projeto.

  Link direto de referência:
  https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff

  Paleta em HEX :
  --russian-violet: #10002bff;
  --russian-violet-2: #240046ff;
  --persian-indigo: #3c096cff;
  --tekhelet: #5a189aff;
  --french-violet: #7b2cbfff;
  --amethyst: #9d4eddff;
  --heliotrope: #c77dffff;
  --mauve: #e0aaffff;
  --deep-orange: #f84545;
  --orange: #fa0000;
*/

  /* Variáveis para armazenar as cores do projeto*/
  --h1: #264653;
  --h2: #264653;
  --h3: #264653;
  --header: #10002b;
  --header-p: white;
  --intro-p: white;
  --portfolio: linear-gradient(
    176deg,
    rgb(229, 229, 229) 10%,
    rgb(226, 227, 228) 52%
  );
  --projects: white;
  --about-h1: conic-gradient(#f48566 30%, #fa0000 40%, #f84545 70%);
  --about-h2: conic-gradient(#f48566 10%, #fa0000 50%, #f84545 70%, #ffffff);
  --about-h3: #f84545;
  --about-p: #10002b;
  --about-bg-p: linear-gradient(
    176deg,
    rgb(229, 229, 229) 10%,
    rgb(226, 227, 228) 52%
  );
  --bg-about: url(img/definitivas/bg-neon-city.jpg);
  --bg-edu: url(img/definitivas/edu-g-blur.jpg);
  --edu-h1: rgb(223, 220, 246);
  --edu-ol: #e0aaff;
  --edu-p: white;
  --footer: linear-gradient(to right, #eea849, #f46b45);
  --footer-h1: #3c096c;
  --footer-p: #3c096c;
  --footer-btn: #5a189a;
  --footer-btn-p: white;
  --box-shadow-1: #e0aaff;
  --box-shadow-2: #fca311ff;
  --header-hover: #e0aaff;
  --btn-hover: red;
}

/* Importação da fonte utilizada neste projeto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset na margin e padding de todos os elementos*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

/*Fonte do projeto sendo definida*/
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Header: contempla o menu de navegação
*/
header {
  width: 100%;
  text-align: center;
  background-color: var(--header);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.605);
  position: absolute;
  top: 0;
  left: 0;
}

header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 0.5em;
  color: var(--header-p);
  text-shadow: 0px 0px 2px white;
  text-decoration: none;
  font-weight: 200;
}
header nav ul li a:hover {
  text-shadow: var(--header-hover) 0px 0px 10px;
}
header nav ul li a i {
  font-size: x-large;
  margin-right: 0.3rem;
}

/*
  Main: contempla todo o conteúdo principal
*/
main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

/* Padrão do tamanho da fonte dos titulos e parágrafos*/
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.4em;
}
p {
  font-size: 14pt;
}
#portfolio p,
#about p,
#education p {
  text-align: justify;
}

/* 
  INTRO: uma breve introdução do desenvolvedor do projeto
*/

#intro {
  padding: 6em 0 4em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #240046;
  background-image: linear-gradient(135deg, #240046 0%, #10002b 100%);
}
.intro-p {
  color: var(--intro-p);
}

#intro img {
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 25%;
  margin: 1em;
}

/*
  ABOUT: contempla o conteúdo principal e é dividade em duas partes: 1º uma introdução (classe: div-about-intro) e 2º descrição dos hobbies (classe div-hobbie)
    Sendo toda a seção com um fundo em parallax.
*/
#about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  position: relative;
  background: #834d9b;
  background: -webkit-linear-gradient(to bottom, #d04ed6, #834d9b);
}
.bg-about {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-image: var(--bg-about);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

#about h1 {
  background-image: var(--about-h1);
  text-align: center;
  color: transparent;
  background-clip: text;
  margin: auto;
}
/*
  HOBBIES: descreve larguras e alturas, alinhamentos e cores para visualização em todos os dispositivos
*/
.div-hobbies h2 {
  background-image: var(--about-h2);
  color: transparent;
  background-clip: text;
}
.div-hobbie-text h3 {
  background: var(--about-bg-p);
  color: var(--about-h3);
  text-shadow: rgba(0, 0, 0, 0.283) 0 0 2px;
}
.about-p {
  color: var(--about-p);
  text-shadow: rgba(0, 0, 0, 0.192) 1px 1px 4px;
}
.div-about-intro {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  background: var(--about-bg-p);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 2em 1em;
}

.div-hobbie {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.div-hobbie-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*
  EDUCATION: o fundo é ilutrado por uma imagem em parallax. A transição entre esta section e a anterior, foi optado por fazer um gradiente no título principal da seção para fazer a transição de tonalidade e conteúdo. As listas desta seção foram estilizadas neste momento do CSS.
*/
.no-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.no-padding p {
  color: var(--edu-p);
}
.no-padding h2,
.no-padding h3,
.no-padding h4 {
  color: var(--edu-h2);
}
.h1-education {
  background: linear-gradient(179deg, black 50%, transparent);
  width: 100vw;
  height: auto;
  padding-top: 15em;
  padding-bottom: 2em;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.564);
  color: var(--edu-h1);
}

.intro-edu {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-image: var(--bg-edu);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#education > p {
  max-width: 80%;
}
#education ol{
  color: var(--edu-ol);
}
#education ol > li {
  margin-top: 3%;
}

#education ul > li {
}


/*
  PORTFOLIO: para melhor visualização do conteúdo, foi optado por fazer esta  seção de maneira minimalista. 
*/

#portfolio {
  width: 100%;
  background: var(--portfolio);
}
#portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#portfolio h1 {
  color: var(--h1);
  text-shadow: rgba(0, 0, 0, 0.356) 1px 1px 2px;
  padding: 1em 0;
  text-align: center;
}

#portfolio .project {
  background-color: var(--projects);
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.308) 1px 1px 10px;
  box-sizing: border-box;
}

.project img {
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}

/*
  FOOTER: larguras, alturas, cores e alinhamentos estilizados.
*/

footer {
  text-align: center;
  color: var(--footer-p);
  max-width: 100%;
  padding: 3em;
  background: var(--footer);
}
#contact {
  max-width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2em;
  align-items: center;
  background: var(--contact);
  color: var(--footer-p);
}
footer h1 {
  color: var(--footer-h1);
  text-shadow: var(--box-shadow-1) 1px 1px 3px;
}
/*
  FORM: larguras, alturas, cores e alinhamentos estilizados
*/
#contact form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: var(--contact);
}

#contact form label {
  margin-top: 10px;
}

#contact form input,
#contact form textarea {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contact form textarea {
  height: 10vh;
}

#contact form button {
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: var(--footer-btn);
  color: var(--footer-btn-p);
  border-radius: 5px;
  cursor: pointer;
}

#contact form button:hover {
  background-color: var(--btn-hover);
}
.div-link-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 2em;
}

footer a i {
  font-size: 2.5rem;
  color: white;
}
footer a i:hover {
  color: var(--btn-hover);
}

/*
  Responsividade para celulares e tablets pequenos
*/
@media (max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*
    ABOUT: conteúdo ficará centralizado e a imagem ficará acima de todo o texto.
  */
  .div-about-intro {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1em;
    border-radius: 1.5em;
  }
  .img-about {
    width: 65%;
  }
  .about-texto {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1em;
  }
  .about-text-end {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1em;
  }

  /*
    HOBBIES: o início da div consta um imagem que largura total da tela para ilustrar o conteúdo que refe-se a div
  */
  .div-hobbies h2 {
    text-align: center;
    border-radius: 1.5em 1.5em 0 0;
    margin: 2em 0 1em 0;
  }

  .div-hobbie {
    margin-bottom: 1em;
    padding-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5em;
    background: var(--about-bg-p);
  }

  .div-hobbie img {
    width: 100vw;
    border-radius: 1.5em 1.5em 0 0;
  }

  .div-hobbie h3 {
    text-align: center;
  }
  .div-hobbie-text {
    align-items: center;
  }

  .div-hobbie p {
    width: 90vw;
  }
  /*
    EDUCATION: dispõe da largura da lista
  */
  #education ol {
    max-width: 85%;
  }
  #education ul {
    max-width: 100%;
  }
  #education li {
    margin: 1% 0 1.5% 0;
  }
  #education ul,
  #education ol {
    margin-left: 2%;
  }

  /*
    PORTFOLIO: largura da div dos projetos baseada em um cálculo
  */
  #portfolio .project {
    width: calc(100% - 40px);
  }
}

/*
  Responsividade para tablets grandes e computadores
*/
@media (min-width: 769px) {
  section .padding {
    padding: 2% 1%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*
    ABOUT: conteúdo ficará mais para a direita
  */
  .div-about-intro {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    border-radius: 2em 0 0 2em;
  }
  #about h1 {
    padding: 2em 0 1em;
    text-align: center;
  }
  .img-about {
    width: 25%;
  }
  .about-texto {
    padding-left: 2em;
    width: 33%;
  }
  .about-text-end {
    padding-left: 2em;
    width: 33%;
  }

  /*
    HOBBIES: ficará alternando entre mais para direita ou mais para esquerda
  */
  .div-hobbies {
    margin: 4rem 0;
    display: block;
  }

  .div-hobbies h2 {
    text-align: center;
  }

  /* HOBBIE PAR
    Estiiza as classes 'div-hobbie' alinhando à direita e demais estilizações
  */
  .div-hobbie:nth-child(3) {
    margin: 1.5rem 0 1.5rem 10%;
    padding: 1rem 1rem;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2em;
    text-align: right;
    border-radius: 2em 0 0 2em;
    background: var(--about-bg-p);
  }
  .div-hobbie:nth-child(3) h3 {
    padding-right: 2em;
  }
  .div-hobbie:nth-child(3) img {
    border-radius: 25% 10% 5% 10%;
    box-shadow: #f02eaa66 -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
      rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px,
      rgba(240, 46, 170, 0.05) -25px 25px;
    opacity: 0.9;
  }
  /* HOBBIE ÍMPAR
    Estiiza as classes 'div-hobbie' alinhando à esquerda e demais estilizações
  */
  .div-hobbie:nth-child(2n) {
    max-width: 90%;
    margin: 1.5rem 10% 1.5rem 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2em;
    border-radius: 0 2em 2em 0;
    background: var(--about-bg-p);
  }
  .div-hobbie:nth-child(2n) img {
    border-radius: 10% 25% 10% 5%;
    box-shadow: #f02eaa66 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
      rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
    opacity: 0.9;
  }
  .div-hobbie-text {
    width: 50%;
  }
  .div-hobbie picture {
    max-width: 100%;
  }

  /*
  EDUCATION: largura dos parágrafos
*/
  #education > p {
    width: 80%;
  }
  #education ol {
    width: 80%;
  }
  #education ul {
    max-width: 80%;
  }
  #education li {
    margin: 1% 0 1.5% 2%;
  }
  #education ul,
  #education ol {
    margin-left: 5%;
  }
}
